// k-icon 组件样式
// 定义图标字体和基础样式

@font-face {
  font-family: KIconRoot;
  src: url('./fonts/k-icon.ttf');
}

// 基础图标字体类
.k-icon-font {
	font-family: KIconRoot;
	font-size: 18px;
	font-style: normal;
	color: #333;
}
